@@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* ------------- RESET ------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* ------------- ROOT ------------- */

:root {
    --SoftBlue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --VeryDarkBlue-main-BG: hsl(217, 54%, 11%);
    --VeryDarkBlue-card-BG: hsl(216, 50%, 16%);
    --VeryDarkBlue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}


/* ------------- BODY ------------- */

html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--VeryDarkBlue-main-BG);
    display: grid;
    justify-items: center;
    align-content: center;
}


/* ------------- CONTAINER ------------- */

.container {
    background-color: var(--VeryDarkBlue-card-BG);
    border-radius: 10px;
    font-size: 18px;
    width: 327px;
    height: 543px;
}

.container__image {
    background-image: url(./images/image-equilibrium.jpg);
    background-size: cover;
    border-radius: 10px;
    margin: 24px;
    width: 278px;
    height: 277px;
}

.container_image2 {
    background-color: hsla(178, 100%, 50%, 0.288);
    background-image: url(./images/icon-view.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    visibility: hidden;
}

.container__title {
    color: var(--White);
    padding-left: 24px;
    font-size: 20px;
    font-weight: 600;
}

.container__text {
    color: var(--SoftBlue);
    padding: 0 24px;
    line-height: 22px;
    font-size: 1.6rem;
    font-weight: 300;
}

.container__info {
    color: var(--SoftBlue);
    display: flex;
    gap: 50px;
}

.container__info>div {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0 24px;
    height: 20px;
}

.container__info>div>p {
    font-size: 1.5rem;
}

.container__info>div>span {
    color: var(--Cyan);
    font-size: 1.5rem;
}

.ethereum {
    background-image: url(./images/icon-ethereum.svg);
    background-repeat: no-repeat;
    width: 13px;
    height: 19px;
}

.clock {
    background-image: url(./images/icon-clock.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
}

hr {
    width: 278px;
    margin: 16px 24px 10px 24px;
    border-color: var(--VeryDarkBlue-line);
}

.container__creator {
    display: flex;
    align-items: center;
    gap: 5px;
}

.container__photo {
    background-image: url("./images/image-avatar.png");
    background-size: cover;
    margin: 0 12px 0 24px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: solid 1px white
}

.container__creator span {
    color: var(--SoftBlue);
    font-size: 15px;
}

.container__name {
    color: var(--White);
    font-size: 15px;
}


/* ------------- CONTAINER:HOVER ------------- */

.container__image:hover .container_image2 {
    cursor: pointer;
    visibility: visible;
}

.container__title:hover {
    cursor: pointer;
    color: var(--Cyan);
}

.container__name:hover {
    cursor: pointer;
    color: var(--Cyan);
}


/* ------------- ATRIBUTION ------------- */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* ------------------------------------- */

@media (min-widht: 1440px) {}
